# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
.eggs/
build/
dist/

# Environments
.venv/
venv/
env/
ENV/

# Tools
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Datos (mantén solo los .gitkeep)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
